body {
  background: url("../images/background.jpg") no-repeat fixed center;
  text-align: center;
  font-family: fantasy;
}

td {
  width: 33%;

}

img {
  width: 75%;
}

nav {
  text-align:left;
  margin-top: 30px;
}

a {
  margin: 0px 10px;
  border: 1px solid #000;
  padding: 25px;
  background-color: rgba(255, 0, 0, 0.5);
  color: black;
  text-decoration: none;
  font-size: 2em;
}
